<template lang="html">
    <div
        class="detailPolicy_content_benefit_card"
    >
        <div class="detailPolicy_content_benefit_card_icon" />
            <div class="detailPolicy_content_benefit_card_title">
                {{ name }}
            </div>
            <div class="detailPolicy_content_benefit_card_shortDesc">
                {{ price }}
            </div>
            <div class="clearfix" />
            <div class="detailPolicy_content_benefit_card_description">
                {{ description }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        name: {
            type: String,
            default: 'Health'
        },
        price: {
            type: String,
            default: '5.000.000'
        },
        description: {
            type: String,
            default: 'no pain no gain'
        }
    },
}
</script>

<style lang="scss" scoped>
.detailPolicy_content_benefit_title {
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  color: #9b9dab;
}
.detailPolicy_content_benefit_card {
  padding: 15px 24px 11px 70px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  margin-top: 10px;
}
.detailPolicy_content_benefit_card_title {
  float: left;
  font-size: 14px;
  line-height: 0.93;
  color: #4d4f5c;
}
.detailPolicy_content_benefit_card_shortDesc {
  float: right;
  font-size: 12px;
  line-height: 1.08;
  color: #255ebc;
}
.detailPolicy_content_benefit_card_description {
  opacity: 0.5;
  font-size: 13px;
  line-height: 1.54;
  color: #43425d;
}
</style>

