<template>
    <v-flex 
        xs3 
        dark
    >
        <div class="user-wrap"> 
            <card-employee static/>
            <div class="user-options">
                <div class="user-email">
                    <label class="user-info" for="email">
                        Email
                    </label>
                    <input type="text" placeholder="feleri@qoala.id">
                </div>
                <div class="user-role" style="margin-top: 15px;">
                    <label class="user-info" for="email">
                        Permission: <span>{{role}}</span>
                    </label>
                    <div 
                        class="role-option" 
                        v-for="(i, key) in access" 
                        :key="key">
                        <span>
                            {{i}}
                        </span>
                        <c-switch />
                    </div>
                    <button 
                        v-if="role !== 'Big Admin'"
                        @click="action"
                    >
                        Remove Admin
                    </button>
                </div>
            </div>
        </div>  
    </v-flex>
</template>

<script>
import CardEmployee from '@/components/Card/CardEmployee';
import CSwitch from '@/components/Controls/CSwitch';

export default {
    components: {
        CardEmployee,
        CSwitch
    },
    props: {
        role: {
            type: String,
            default: 'Admin'
        },
        access: {
            type: Array,
            default: () => {}
        },
        action: {
            type: Function,
            default: () => {}
        }
    }
}
</script>

<style lang="scss" scoped>
.user-wrap {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(60,72,88,.4); 
    border-radius: 5px; 
    padding: 0;
}
.user-options {
    padding: 0 15px 20px;
    .user-email, .user-role {
        label.user-info {
            display: block;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;
            span {
                color: $primary;
            }
        }
        input {
            color: #000;
            display: block;
            background: $third;
            width: 100%;
            padding: 15px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: normal;
        }
    }
    .role-option {
        padding: 20px 15px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        font-weight: normal;
        text-transform: capitalize;
        position: relative;
        &:after {
            position: absolute;
            bottom: 0;
            width: 90%;
            height: 1px;
            background-color: #eee;
            content: '';
        }
        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            &:after {
                height: 0;
            }
        }
    }
    button {
        display: block;
        background: $third;
        width: 100%;
        margin-top: 15px;
        padding: 10px 0;
        font-weight: 600;
        font-size: 16px;
        border: 1px solid $primary;
        border-radius: 7px;
        color: $primary;
    }
}
</style>

