<template>
    <v-card elevation="0">
        <div class="card-top">
            <div v-if="!static" class="card-edit">
                edit
            </div>
            <div>
                <img src="@/assets/images/default-avatar.jpg" alt="">
            </div>
            <div>
                <div class="card-name">
                    Agung Sukoco
                </div>
                <div class="card-position">
                    Kang Boong
                </div>
                <div class="card-rate">

                </div>
            </div>
        </div>
        <detail-board 
            :details="boards"
            small
        />
    </v-card>
</template>

<script>
import DetailBoard from '@/components/Board/DetailBoard'
export default {
    components: {
        DetailBoard
    },
    props: {
        static: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            boards: [
                {
                    title: 'Policy No.',
                    data: '123-1234567'
                },
                {
                    title: 'Total Claim',
                    data: '5'
                },
                {
                    title: 'Expired in',
                    data: '90 Days'
                }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
    .v-card {
        border-radius: 5px;
    }
    .card-top {
        position: relative;
        padding: 15px 15px 0;
        display: flex;
        font-weight: normal;
        img {
            height: 70px;
            width: 70px;
            border-radius: 5px;
            margin-right: 10px;
        }
        .card-edit {
            position: absolute;
            top: 5%;
            right: 5%;
            text-transform: capitalize;
            border-bottom: 1px solid;
            cursor: pointer;
            color: $primary;
        }
        .card-name {
            font-size: 16px;
        }
        .card-position {
            font-size: 12px;
            color: $fifth;
        }
    }
</style>
