<template>
  <div class="tab-table">
    <v-card flat>
        <v-card-text style="padding: 0;">
        <v-data-table
            class="elevation-1"
            :headers="Header"
            :items="Row"
            :hide-actions="Action"
        >
            <template
            slot="items"
            slot-scope="props"
            >
            <tr
                class="table-row"
                @click="RowClicked(props.item)"
            >
                <td
                v-for="(item, keyItem) in props.item"
                :key="keyItem"
                :class="itemStyle(keyItem)"
                >
                {{ item }}
                </td>
            </tr>
            </template>
        </v-data-table>
        </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
    props: {
        Header: {
            type: Array,
            default: () => {}
        },
        Row: {
            type: Array,
            default: () => {}
        },
        Action: {
            type: Boolean,
            default: false
        },
        RowClicked: {
            type: Function,
            default(item) {
                console.log(item);
            }
        }
    },
    data() {
        return {
            active: null,
        };
    },
    methods: {
        itemStyle(a) {
            let b;
            a === 'policyNumber' ? b = 'highlight'
                : a === 'submiter' ? b = 'highlight'
                    : a === 'agent' ? b = 'agent'
                        : 'rgb(77, 79, 92)';
            return b;
        },
        tableContent(a) {
            let b;
            a === 'policyList' ? b = this.policy
                : a === 'activeClaim' ? b = this.activeClaim
                    : b = this.claimHistory;
            return b;
        },
        next() {
            const active = parseInt(this.active, 10);
            this.active = (active < 2 ? active + 1 : 0);
        },
        tableHeader(a) {
            let b;
            a === 'policyList' ? b = this.policyHeader
                : a === 'activeClaim' ? b = this.activeClaimHeader
                    : b = this.claimHistoryHeader;
            return b;
        },

    }
};
</script>

<style lang="scss">
.v-tabs__item {
	text-transform: capitalize;
	width: 250px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.36;
	color: $third;
	background-color: $fifth;
	box-shadow: 3px -2px 4px 0 rgba(0, 0, 0, 0.06);
	border-left: 1px solid #8e9197;
	border-right: .5px solid #8e9197;
}
.your-class {
	background-color: $third;
	color: $text-blue;
	border: none;
}

//Custom Table
.tab-table {
	margin-top: 10px;
	.table-row {
        cursor: pointer;
		&:nth-child(even){
			background-color: $fourth;
		}
		td {
			font-size: 13px;
			line-height: 1.08;
			letter-spacing: normal;
			&.highlight {
				font-weight: 900;
				text-decoration: underline;
				line-height: 4.81;
				color: $primary;
			}
			&.agent {
				font-weight: bold;
			}
			.btn-submit {
				text-align: center;
				background-color: $primary;
				border-radius: 4px;
				padding: 10px 15px;
				color: $third;
			}
		}
	}
}
</style>
