<template>
  <v-card class="elevation-0">
    <v-toolbar
      card
      dense
      dark
    >
      <v-toolbar-title>
        <span class="title">
          Notification
        </span>
      </v-toolbar-title>
    </v-toolbar>
    <v-divider />
    <v-card-text class="pa-0">
      <v-list
        two-line
        dense
        class="pa-0"
      >
        <template v-for="(item, index) in items">
          <v-subheader
            v-if="item.header"
            :key="item.header"
          >
            {{ item.header }}
          </v-subheader>
          <v-divider
            v-else-if="item.divider"
            :key="index"
          />
          <v-list-tile
            v-else
            :key="item.title"
            avatar
            @click="handleClick"
          >
            <v-list-tile-avatar :color="item.color">
              <v-icon dark>
                {{ item.icon }}
              </v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-sub-title v-html="item.title" />
            </v-list-tile-content>
            <v-list-tile-action class="caption">
              {{ item.timeLabel }}
            </v-list-tile-action>
          </v-list-tile>
        </template>
      </v-list>
      <v-divider />
      <v-btn
        block
        flat
        class="ma-0"
      >
        All
      </v-btn>
      <v-divider />
    </v-card-text>
  </v-card>
</template>

<script>
import notes from '@/components/notificationMock';

export default {
    data() {
        return {
            items: notes
        };
    },

    methods: {
        handleClick: () => {
        }
    }

};
</script>
