<template>
    <div class="detailPolicy_content_tableInfo">
        <div class="detailPolicy_content_tableInfo_row">
            <div 
                v-for="(item, key) in details" 
                :key="key" 
                :class="[small ? 'small detailPolicy_content_tableInfo_cell' : 'detailPolicy_content_tableInfo_cell']"
            >
                <div class="col_title">
                    {{item.title}}
                </div>
                <div class="col_content">
                    {{item.data}}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        details: {
            type: Array,
            default: () => {}
        },
        small: {
            type: Boolean,
            default: false
        }
    }
}
</script>

<style lang="scss" scoped>
.detailPolicy_content_tableInfo {
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    .detailPolicy_content_tableInfo_row {
        display: table-row;
        .detailPolicy_content_tableInfo_cell {
            display: table-cell;
            width: 100%;
            text-align: center;
            border: 1px solid #f0f1f7;
            padding-top: 9px;
            padding-bottom: 11px;
            .col_title {
                font-size: 12px;
                font-weight: bold;
                line-height: 2.33;
                color: #9597a6;
            }
            .col_content {
                font-size: 18px;
                font-weight: 300;
                line-height: 1.78;
                color: #1955b9;
            }
            &.small {
                .col_title {
                    font-size: 10px;
                }
                .col_content {
                    font-size: 12px;
                }
            }
        }
    }
}
</style>

