.wrapper-board {
    background-color: $sixth;
    box-shadow: 2.3px 7.7px 125px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    .item-board {
        padding: 20px 0;
        width: 200px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            top: 15%;
            right: 0;
            width: 1px;
            height: 80%;
            display: block;
            background-color: #b6bdcb;
        }
        .board-name {
            font-size: 14px;
            font-weight: bold;
            line-height: 1.29;
            text-align: center;
            color: #777777;
        }
        .board-total {
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            color: #ff6300;
        }
        .board-mini {
            display: inline-flex;
            width: 45%;
            font-size: 15px;
            font-weight: bold;
            line-height: 1.2;
            color: #bfbfbf;
            align-items: center;
            justify-content: center;
            span {
                font-size: 11px;
                line-height: 1.22;
                padding: 3px 7px;
                border-radius: 50%;
                margin-right: 5px;
                &.red-icon {
                    background-color: $primary;
                }
                &.blue-icon {
                    background-color: $text-blue;
                }
            }
        }
    }
}