/* control buttons */
.search-on-toolbar {
    .v-input__control {
        min-height: 32px !important;
        .v-input__slot {
            margin-bottom: 0;
            label.v-label {
                font-size: 14px;
            }
        }
    }
}

.button-on-toolbar {
    height: 32px !important;
    font-size: 13px;

    &.v-btn--icon {
        width: 32px !important;
    }
}

/* control buttons */
.elevation--4 {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0) !important;
    border-bottom: 1px solid transparent !important;
}

.expanded-table {
    table.v-table {
        background: #eee;
        thead {
            background: #e4e4e4;
        }
    }
}

.v-datatable {
    thead {
        tr:first-child {
            th {
                padding: 5px 16px !important;
            }
        }
    }

    tbody {
        tr:not(.v-datatable__expand-row) {
            td {
                padding: 6px 16px !important;
            }
        }
    }
}

/* Add Agent */
.add-agent {
    width: 84px;
    height: 84px;
    border-radius: 50px;
    box-shadow: 0 3px 6px 0 rgba(137, 146, 255, 0.16);
    background-color: $third;
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i {
        color: #ffaf2f !important;
        font-size: 36px;
    }
    span {
        font-size: 10px;
        font-weight: bold;
        color: $text-lightgrey;
    }
}

/* Default Button */
.btn {
    background-color: $primary;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ff6300;
    cursor: pointer;
    &.btn-action {
        margin-left: 25px;
        height: 45px;
        width: 165px;
        border-radius: 23px;
        box-shadow: 0 5px 10px 0 rgba(114, 124, 142, 0.15);
        background-color: $third;
        display: flex;
        align-items: center;
        justify-content: center;
        .round-org {    
            display: inline-flex;
            background-color: #fe6300;
            border-radius: 50px;
            height: 30px;
            width: 30px;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            i {
                font-size: 18px;
                color: #fff;
            }
        }
    }
}