
.loading {
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 999;
    }

    &:not(:required) {
        &:after {
            content: "";
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            top: 50%;
            right: 50%;
            position: absolute;
            margin-top: -0.5em;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
                rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0,
                rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
                rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0,
                rgba(0, 0, 0, 0.75) -1.5em 0 0 0,
                rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0,
                rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
                rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}