.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 5px;
        vertical-align: middle;
        border-top: 1px solid #ddd;
    }

    td {
        ul {
            &.list {
                list-style-type: square;
                margin: 0;
            }
            &.list-2 {
                list-style-type: none;
                margin: 0;
                padding: 0;
                word-break: break-word;

                li {
                    border: 1px solid #ddd;
                    border-bottom: none;
                    padding: 5px;

                    &:last-child {
                        border-bottom: 1px solid #ddd;
                    }
                }
            }
        }
    }

    thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }

    tbody + tbody {
        border-top: 2px solid #ddd;
    }

    &.two-cols {
        th,
        td {
            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }
        }
    }

    &.table-borderfull {
        margin-bottom: 10px;

        td {
            border: 1px solid #ddd;
        }
    }

    &.table-borderless {
        th,
        td {
            border: none;
        }
    }
}