// Background Color
$primary: rgb(255,99,0);
$secondary: rgb(244, 244, 244);
$third: rgb(255, 255, 255);
$fourth: #f5f6fa;
$fifth: #b6bdcb;
$sixth: #f9fcff;
$seventh: #F5F6F7;

// Text Color
$text-grey: rgb(77, 79, 92);
$text-blue: rgb(0, 117, 160);
$text-lightblue: rgb(101, 129, 173);
$text-lightgrey: rgb(191, 191, 191);

//Gradient Color
$gradient: linear-gradient(to top, rgb(255, 99, 0), rgb(255, 160, 0));
$gradient-light: linear-gradient(to top, rgb(254, 153, 0), rgb(255, 115, 0));

// Breakpoint
$xs: 0;
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Plugins
@import "./material-icons.css";

.v-content__wrap {
    background-color: #f4f4f4;
    padding: 75px 250px;
}
//Components
@import "./Components/Button.scss";
@import "./Components/Loading.scss";
@import "./Components/Table.scss";
@import "./Components/Board.scss";


@font-face {
    font-family: "lato";
    src: url("/fonts/lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
}

//Body Default
body {
    font-family: "lato";
    font-size: 15px;
    font-weight: 600;
    line-height: 1.27;
    text-align: left;
    color: #4d4f5c;
    .application {
        font-family: "lato";
    }
}

// Error Pages
.error-page-bg {
    background-color: #ffc107;
    background-image: -webkit-linear-gradient(30deg, #ff9f43 50%, #feca57 50%);
}

// Default Effect
.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}

//Custom
.display-flex {
    display: flex;
    &.center {
        align-items: center;
        justify-content: center;
    }
    &.center-align {
        align-items: center;
    }
    &.center-content {
        justify-content: center;
    }
}
.clearfix {
    clear:both
}

a:hover {
    text-decoration: none !important;
}
.wrap-action {
    background-color: $third;
    padding: 40px 20px;
    position: relative;
    display: flex;
    margin: 45px 0 0;
    justify-content: space-between;
    h1 {
        font-size: 18px;
        font-weight: normal;
        display: inline;
        small {
            display: block;
            font-size: 14px;
            color: $primary;
        }
    }
    .btn {
        display: inline-flex;
    }
}