<template>
  <v-app>
    <c-snack />
    <v-content>
      <nuxt />
    </v-content>
  </v-app>
</template>

<script>
import CSnack from '@/components/Controls/CSnack';

export default {
    name: 'LayoutClean',

    components: {
        CSnack
    }
};
</script>
