<template>
  <v-app>
    <c-snack />
    <app-toolbar class="app--toolbar" />
    <app-sidebar
      :menu="myMenu"
    />
    <v-content
      style="padding: 0px"
    >
      <!-- Page Header -->

      <!-- Page Body -->
      <div class="page-wrapper">
        <v-container
          fluid
          style="padding:0px"
        >
          <nuxt />
          <!-- confirmation dialog -->
          <c-confirm ref="confirmation" />
        </v-container>
      </div>
      <!-- App Footer -->
      <!-- <v-footer
        height="auto"
        class="grey"
        inset
        style="border-top: 1px solid #ddd!important"
      >
        <v-card
          flat
          tile
          class="flex"
        >
          <v-card-title>
            <div>
              <img
                src="~/assets/images/logo-small.png"
                height="14"
                alt="Qoala Insurance"
                style="vertical-align: middle;"
              >
              <span class="caption">
                &nbsp;Qoala &copy; {{ new Date().getFullYear() }}
              </span>
            </div>
            <v-spacer />
            <div>
              <span class="caption mr-1">
                Made with
              </span>
              <v-icon
                color="pink"
                small
              >
                favorite
              </v-icon>
              <span class="caption mr-1">
                &nbsp;in Jakarta
              </span>
            </div>
          </v-card-title>
        </v-card>
      </v-footer> -->
    </v-content>
  </v-app>
</template>

<script>
import Cookies from 'js-cookie';

import menu from '@/layouts/menu';
import CSnack from '@/components/Controls/CSnack';
import AppSidebar from '@/components/General/AppSidebar';
import AppToolbar from '@/components/General/AppToolbar';


function defineVisibility(data, role) {
    if (role === 'admin') return true;

    if (data) {
        let excluded = false;

        if (data.exclude) {
            if (Array.isArray(data.exclude)) {
                excluded = data.exclude.find(v => v === role);
            } else {
                excluded = data.exclude === role;
            }
        }
        if (excluded) return excluded;

        if (data.include) {
            if (Array.isArray(data.include)) {
                return data.include.find(v => v === role);
            }
            return data.include === role;
        }

        if (Array.isArray(data)) {
            return data.find(v => v === role);
        }
        return data === role;
    }
    return true;
}

export default {
    middleware: 'authenticated',

    name: 'LayoutDefault',

    components: {
        CSnack,
        AppSidebar,
        AppToolbar
    },

    data() {
        return {
            menu
        };
    },

    computed: {
        myMenu() {
            if (this.$store.getters.getUserData) {
                const { roles } = this.$store.getters.getUserData;
                if (roles && roles.length) {
                    const role = roles[0];
                    return this.menu.filter(v => defineVisibility(v.visible, role)

                        // if (role === 'cs' && v.name !== 'payments') {
                        //     return v;
                        // }
                        // if (['admin', 'finance'].includes(role)) {
                        //     return v;
                        // }
                        // return '';
                    );
                }
            }
            return this.menu;
        }
    },

    created() {
        if (!Cookies.get('t')) {
            this.$store.dispatch('authDestroy');
        }
    }
};
</script>
