<template>
  <v-container
    class="error-page-bg"
    fluid
    fill-height
  >
    <v-layout
      align-center
      justify-center
    >
      <v-flex
        xs12
        sm8
        md4
      >
        <v-card
          class="elevation-4"
        >
          <v-toolbar
            color="green"
            height="auto"
            class="elevation-0"
          >
            <h1 class="display-4 white--text mt-4 mb-4">
              404
            </h1>
            <v-btn
              color="blue"
              fab
              dark
              absolute
              bottom
              icon
              right
              nuxt
              @click="$router.push('/home')"
            >
              <v-icon>home</v-icon>
            </v-btn>
          </v-toolbar>
          <v-card-text class="pt-4 pb-4">
            <h4 class="mt-4 mb-4">
              Oops! Looks like Something Wrong.
            </h4>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
    name: 'LayoutError',
    layout: 'LayoutClean'
};
</script>
