<template>
<v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
        <v-stepper v-model="e1">
            <v-stepper-header style="display: none;">
                <v-stepper-step :complete="e1 > 1" step="1">Name of step 1</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="e1 > 2" step="2">Name of step 2</v-stepper-step>

                <v-divider></v-divider>
            </v-stepper-header>

            <v-stepper-items>
                <v-stepper-content step="1" style="padding: 0;">
                    <v-card>

                        <v-btn color="primary" @click="e1 = 2">
                            Continue
                        </v-btn>
                    </v-card>
                </v-stepper-content>

                <v-stepper-content step="2" style="padding: 0;">
                    <v-card>

                        <v-btn color="primary" @click="e1 = 2">
                            Continue
                        </v-btn>
                    </v-card>
                </v-stepper-content>
            </v-stepper-items>
        </v-stepper>
    </v-dialog>
</v-layout>
</template>

<script>
export default {
    data: () => ({
      dialog: false,
      e1: 0
    })
}
</script>

<style lang="scss" scoped>
.head-modal {
    padding: 0;
}
.body-modal, .foot-modal {
    background: $seventh;
}
</style>
