<template>
  <div>
    <modal-employee ref="modalEmployee" />
    <div class="wrap-action">
        <h1>
            Review and update Employee Details
            <small>
                Please make sure these details are up to date as they’ll be used for claim, and communications with the partners.
            </small>
        </h1>
        <div class="btn btn-action" @click="addEmployee">
            Add More Employee
            <div class="round-org">
                <v-icon>
                    add
                </v-icon>
            </div>
        </div>
    </div>
    <content-wrapper>
        <v-flex xs3 v-for="i in 12" :key="`3${i}`"  >
            <card-employee />
        </v-flex>
    </content-wrapper>
  </div>
</template>

<script>
import ContentWrapper from '@/components/General/ContentWrapper';
import CardEmployee from '@/components/Card/CardEmployee';
import ModalEmployee from '@/components/Modal/ModalEmployee';

export default {
    components: {
        ContentWrapper,
        CardEmployee,
        ModalEmployee
    },
    methods: {
        addEmployee() {
            this.$refs.modalEmployee.dialog = true
        }
    }
}
</script>

<style lang="scss" scoped>

 
</style>
