<template>
  <div>
    <v-container
      fluid
      grid-list-md
    >
      <v-layout
        row
        wrap
      >
        <v-flex
          d-flex
          xs4
        >
          <v-card
            v-if="isAdmin"
            class="elevation-1"
          >
            <v-toolbar
              color="grey lighten-2"
              flat
            >
              <v-toolbar-title><h5>Generate Report</h5></v-toolbar-title>

              <v-spacer />

              <c-date-range
                :range="report.dateRange"
                icon
                @apply-filter="report.dateRange = $event; generateReport()"
              />
            </v-toolbar>

            <v-card-text>
              Date Start: {{ report.dateRange[0] | dateFilterShort }}
              <br>
              Date End: {{ report.dateRange[1] | dateFilterShort }}
            </v-card-text>

            <v-card-actions>
              <v-spacer />
              <v-btn
                flat
                @click="generateReport"
              >
                Generate Report
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import CDateRange from '@/components/Controls/CDateRange';

export default {
    name: 'Dashboard',

    components: {
        CDateRange
    },

    data() {
        return {
            report: {
                dateRange: [
                    this.$moment().format('YYYY-MM-DD'),
                    this.$moment().format('YYYY-MM-DD')
                ]
            }
        };
    },

    computed: {
        isAdmin() {
            if (!this.$store.getters.getUserData) return false;
            return this.$store.getters.getUserData.roles.length
                && this.$store.getters.getUserData.roles.indexOf('admin') > -1;
        }
    },

    methods: {
        async generateReport() {
            try {
                const response = await this.$api.call('dashboard.generateReport', {
                    query: {
                        startDate: this.report.dateRange[0],
                        endDate: this.report.dateRange[1]
                    }
                });

                let { message } = response;
                const { policies, claims } = response.data;

                if (policies.length === 0 && claims.length === 0) {
                    message = 'no policies and claims to generate today!';
                } else if (claims.length === 0) {
                    message = 'no claims to generate today!';
                } else if (policies.length === 0) {
                    message = 'no policies to generate today!';
                }
                this.$store.dispatch('toggleSnackBar', message);
            } catch (error) {
                this.$store.dispatch('toggleSnackBar', 'error generating report!');
            }
        }
    }
};
</script>
