<template>
  <v-container
    fluid
    fill-height
  >
    <v-layout
      align-center
      justify-center
    >
      <v-flex
        xs12
        sm8
        md4
      >
        <v-card
          class="elevation-4"
          color="red--text"
        >
          <c-overlay ref="loginOverlay" />
          <v-img
            :src="require('~/assets/images/login.jpg')"
            aspect-ratio="2.5"
          />
          <v-card-title>
            <h3 class="headline">
              Sign In to your account
            </h3>
          </v-card-title>
          <v-card-text>
            <v-form
              lazy-validation
              @submit.prevent="handleLogin"
            >
              <v-text-field
                v-model="email"
                v-validate="'required|email'"
                :error-messages="errors.collect('login.email')"
                prepend-icon="person"
                name="login"
                label="Login"
                type="text"
                data-vv-name="email"
                data-vv-scope="login"
              />

              <v-text-field
                id="password"
                v-model="password"
                v-validate="'required'"
                :error-messages="errors.collect('login.security code')"
                prepend-icon="lock"
                name="password"
                label="Security Code"
                type="password"
                data-vv-name="security code"
                data-vv-scope="login"
              />

              <v-btn
                v-show="false"
                type="submit"
              >
                submit
              </v-btn>
            </v-form>
            <v-alert
              :value="message"
              outline
              type="error"
            >
              {{ message }}
            </v-alert>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              flat
              color="grey"
              @click="handleReset"
            >
              Clear
            </v-btn>
            <v-btn
              flat
              color="green"
              @click="handleLogin"
            >
              Login
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Cookies from 'js-cookie';

import COverlay from '@/components/Controls/COverlay';

export default {
    name: 'LoginPage',

    layout: 'clean',

    components: {
        COverlay
    },

    data() {
        return {
            email: '',
            password: '',
            message: null
        };
    },
    created() {
        if (Cookies.get('t')) {
            this.$router.replace('/home');
        }
    },

    methods: {
        handleReset() {
            this.email = '';
            this.password = '';
            this.message = null;
            this.$validator.reset();
        },

        handleLogin() {
            this.$validator.validate('login.*')
                .then(async result => {
                    if (result) {
                        this.$refs.loginOverlay.loading = true;
                        try {
                            await this.$store.dispatch('authCreate', {
                                data: {
                                    email: this.email,
                                    securityCode: this.password
                                }
                            });
                            this.$router.push('/home');
                        } catch (err) {
                            this.message = err.message;
                        }
                        this.$refs.loginOverlay.loading = false;
                    }
                });
        }
    }/* ,

    async asyncData(context) {
        if (context.store.getters.getUserToken) {
            context.app.router.push('/home');
        }
    } */
};
</script>
