<template>
  <div>
    <div class="wrap-action">
        <div class="btn btn-action">
            Add More Employee
            <div class="round-org">
                <v-icon>
                    add
                </v-icon>
            </div>
        </div>
        
        <div class="btn btn-action">
            Download Report
            <div class="round-org">
                <v-icon>
                    arrow_downward
                </v-icon>
            </div>
        </div>
    </div>
        
    <Table 
        :row-clicked="openDetail" 
        :Header="policyHeader"
        :Row="policy"
    />
  </div>
</template>

<script>
import CDateRange from '@/components/Controls/CDateRange';

import Table from '@/components/Table/Table';

export default {
    name: 'FlightsListingPage',

    components: {
        CDateRange,
        Table
    },

    data() {
        return {
            meta: {
                pageName: 'flight-delay',
                pageType: 'delay',
                benefitCode: 'TD'
            },
            policyHeader: [
                { text: 'Policy No', value: 'policyNumber' },
                { text: 'Employee No', value: 'employeeNumber' },
                { text: 'User', value: 'userName' },
                { text: 'Division', value: 'division' },
                { text: 'Product Name', value: 'productName' },
                { text: 'Purchase Date', value: 'purchaseDate' },
            ],
            policy: [
                {
                    policyNumber: '123-1234567',
                    employeeNumber: '123-1234567',
                    userName: 'Herman Gokil',
                    division: 'Kang Pukul',
                    productName: 'Full Health Coverage',
                    purchaseDate: '1 Hour ago',
                },
                {
                    policyNumber: '123-1234567',
                    employeeNumber: '123-1234567',
                    userName: 'Herman Gokil',
                    division: 'Kang Pukul',
                    productName: 'Full Health Coverage',
                    purchaseDate: '1 Hour ago',
                },
                {
                    policyNumber: '123-1234567',
                    employeeNumber: '123-1234567',
                    userName: 'Herman Gokil',
                    division: 'Kang Pukul',
                    productName: 'Full Health Coverage',
                    purchaseDate: '1 Hour ago',
                },
                {
                    policyNumber: '123-1234567',
                    employeeNumber: '123-1234567',
                    userName: 'Herman Gokil',
                    division: 'Kang Pukul',
                    productName: 'Full Health Coverage',
                    purchaseDate: '1 Hour ago',
                },
                {
                    policyNumber: '123-1234567',
                    employeeNumber: '123-1234567',
                    userName: 'Herman Gokil',
                    division: 'Kang Pukul',
                    productName: 'Full Health Coverage',
                    purchaseDate: '1 Hour ago',
                },
                {
                    policyNumber: '123-1234567',
                    employeeNumber: '123-1234567',
                    userName: 'Herman Gokil',
                    division: 'Kang Pukul',
                    productName: 'Full Health Coverage',
                    purchaseDate: '1 Hour ago',
                },
                {
                    policyNumber: '123-1234567',
                    employeeNumber: '123-1234567',
                    userName: 'Herman Gokil',
                    division: 'Kang Pukul',
                    productName: 'Full Health Coverage',
                    purchaseDate: '1 Hour ago',
                },
                {
                    policyNumber: '123-1234567',
                    employeeNumber: '123-1234567',
                    userName: 'Herman Gokil',
                    division: 'Kang Pukul',
                    productName: 'Full Health Coverage',
                    purchaseDate: '1 Hour ago',
                }
            ]
            
        };
    },

    methods: {
        definePage() {
            this.meta.pageName = this.$route.name;
            this.meta.pageType = this.$flightHelpers.mapPageType(this.meta.pageName);
            this.meta.benefitCode = this.$flightHelpers.mapBenefitCode(this.meta.pageType);
        },

        // - table control events
        customFilter(items, search, filter) {
            if (this.table.statusFilter.selected.length) {
                items = items.filter(row => this.table.statusFilter.selected.indexOf(row.status) > -1);
            } else {
                items = [];
            }

            if (this.table.claimStatusFilter) {
                items = items.filter(row => row.pendingClaim > 0);
            }

            search = search.toString().toLowerCase();
            return items.filter(i => (
                Object.keys(i).some(j => filter(i[j], search))
            ));
        },

        // - table item events
        generateTableHeader() {
            switch (this.meta.pageType) {
            case 'general':
                return this.table.headers.filter(v => v.text !== '');
            case 'delay':
            default:
                return this.table.headers;
            }
        },

        toDetailPage(event, id) {
            const route = `/flight/policies/${id}/${this.meta.pageType}`;
            if (event.ctrlKey) {
                window.open(this.$router.resolve(route).href, '_blank');
            } else {
                this.$router.push(route);
            }
        },

        // - table item formatter
        flightInformation(item) {
            return this.$flightHelpers.flightInformation(item);
        },
        openDetail(item) {
            console.log(item);
            if (item.policyNumber) {
                this.$router.push(`policy/${item.policyNumber}`);
            }
            if (item.claimNumber) {
                this.$router.push(`claim/${item.claimNumber}`);
            }
        }
    }
};
</script>

<style lang="scss" scoped>
.wrap-action {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
}
</style>
