<template>
    <div>
        <div class="wrap-action">
            <h1>
                Review and update User Details
                <small>
                    Please make sure these details are up to date as they’ll be used for claim, and communications with the partners.
                </small>
            </h1>
        </div>

        <content-wrapper>
            <card-user
                role="Big Admin"
                :access="role.bigAdmin"
            />
            <card-user
                role="Admin"
                :access="role.admin"
            />
        </content-wrapper>
    </div>
</template>

<script>
import ContentWrapper from '@/components/General/ContentWrapper';
import CardUser from '@/components/Card/CardUser';

export default {
    components: {
        ContentWrapper,
        CardUser
    },
    data() {
        return {
            role: {
                bigAdmin: [
                    'view employee details',
                    'edit employee benefits',
                    'add new user',
                    'approve payment',
                    'tech settings',
                    'edit admin'
                ],
                admin: [
                    'view employee details',
                    'edit employee benefits',
                    'add new user',
                    'approve payment',
                ]
            }
        }
    }
}
</script>

<style lang="scss" scoped>

</style>
