<template>
  <div class="detailClaim">
    <div
      class="detailClaim_title"
      @click="$router.go(-1)"
    >
      <v-container fill-height>
        <v-icon color="#ff6300">
          chevron_left
        </v-icon>
        <v-layout align-center>
          Claim Details {{ number }}
        </v-layout>
      </v-container>
    </div>
    <div class="detailClaim_content">
      <v-container
        ma-0
        pa-0
      >
        <v-layout row>
          <v-flex xs6>
            <div class="detailClaim_content_label">
              Policy No.
            </div>
            <div class="detailClaim_content_number">
              123-334-40
            </div>
          </v-flex>
          <v-flex
            text-center
            xs2
          >
            <div class="detailClaim_content_label">
              Claim No.
            </div>
            <div class="detailClaim_content_number detailClaim_content_number--small">
              {{ number }}
            </div>
          </v-flex>
          <v-flex
            text-center
            xs2
          >
            <div class="detailClaim_content_label">
              Claim Date
            </div>
            <div class="detailClaim_content_number detailClaim_content_number--small">
              10 Jan 2019
            </div>
          </v-flex>
          <v-flex
            xs2
          >
            <div class="detailClaim_content_label">
              Covered Passenger
            </div>
            <div class="detailClaim_content_number detailClaim_content_number--small">
              <div>Martin Hong</div>
              <div>Feleri</div>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
      <div class="detailClaim_content_coverage">
        Full Flight Coverage
      </div>
      <div class="detailClaim_content_tableInfo">
        <div class="detailClaim_content_tableInfo_row">
          <div class="detailClaim_content_tableInfo_cell">
            <div class="col_title">
              Booking No.
            </div>
            <div class="col_content">
              GA-717
            </div>
          </div>
          <div class="detailClaim_content_tableInfo_cell">
            <div class="col_title">
              Airline
            </div>
            <div class="col_content">
              Garuda Indonesia
            </div>
          </div>
          <div class="detailClaim_content_tableInfo_cell">
            <div class="col_title">
              Flight Date
            </div>
            <div class="col_content">
              10 Jan 2018
            </div>
          </div>
          <div class="detailClaim_content_tableInfo_cell">
            <div class="col_title">
              From - To
            </div>
            <div class="col_content">
              CGK - DPS
            </div>
          </div>
          <div class="detailClaim_content_tableInfo_cell">
            <div class="col_title">
              Agent
            </div>
            <div class="col_content">
              Pegipegi
            </div>
          </div>
          <div class="detailClaim_content_tableInfo_cell">
            <div class="col_title">
              Submitted by
            </div>
            <div class="col_content">
              Martin Hong
            </div>
          </div>
        </div>
      </div>
      <div class="detailClaim_content_document">
        <div class="detailClaim_content_document_title">
          Uploaded Documents
        </div>
        <div>
          <v-container
            grid-list-sm
            fluid
          >
            <v-layout
              row
              wrap
            >
              <v-flex
                v-for="n in images"
                :key="n"
                xs6
                d-flex
                class="detailClaim_content_document_list"
              >
                <v-layout column>
                  <div class="detailClaim_content_document_list_heading">
                    Matching
                  </div>
                  <v-img
                    :src="n"
                    :lazy-src="n"
                    contain
                    class="grey lighten-2 detailClaim_content_document_list_image"
                  >
                    <v-layout
                      slot="placeholder"
                      fill-height
                      align-center
                      justify-center
                      ma-0
                    >
                      <v-progress-circular
                        indeterminate
                        color="grey lighten-5"
                      />
                    </v-layout>
                  </v-img>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-container>
        </div>
      </div>
      <div class="detailClaim_content_history">
        <div class="detailClaim_content_history_title">
          Claimed for
        </div>
        <div class="detailClaim_content_history_benefit detailClaim_content_history_benefit--active">
          <div class="detailClaim_content_history_benefit_text detailClaim_content_history_benefit_text--active">
            Delay
          </div>
        </div>
        <div class="detailClaim_content_history_benefit">
          <div class="detailClaim_content_history_benefit_text">
            Luggage
          </div>
        </div>
        <div class="detailClaim_content_history_benefit">
          <div class="detailClaim_content_history_benefit_text">
            Miss Flight Connection
          </div>
        </div>
        <div class="detailClaim_content_history_benefit">
          <div class="detailClaim_content_history_benefit_text">
            Cancellation
          </div>
        </div>
        <div class="detailClaim_content_history_benefit">
          <div class="detailClaim_content_history_benefit_text">
            Personal Accident
          </div>
        </div>
        <div class="clearfix" />
        <div class="detailClaim_content_history_title">
          Claimed History
        </div>
        <table-simple
          :table-headers="passengerHeaders"
          :table-items="passengers"
          class="detailClaim_content_history_table"
        />
      </div>
      <!-- <div class="detailClaim_content_benefit">
        <div class="detailClaim_content_benefit_title">
          Policy Benefits
        </div>
        <div
          v-for="(benefit, index) in benefits"
          :key="index"
          class="detailClaim_content_benefit_card"
        >
          <div class="detailClaim_content_benefit_card_icon" />
          <div class="detailClaim_content_benefit_card_title">
            {{ benefit.name }}
          </div>
          <div class="detailClaim_content_benefit_card_shortDesc">
            {{ benefit.shortDesc }}
          </div>
          <div class="clearfix" />
          <div class="detailClaim_content_benefit_card_description">
            {{ benefit.description }}
          </div>
        </div>
      </div> -->
      <div class="clearfix" />
    </div>
  </div>
</template>

<script>

export default {
    name: 'PolicyDetailPage',

    components: {
        tableSimple
    },

    data() {
        return {
            number: '',
            images: [
                '/ktp.png',
                '/selfie.png',
                '/pass.png'
            ],
            passengerHeaders: [
                { text: '#', sortable: false, value: 'number' },
                { text: 'Action', sortable: false, value: 'action' },
                { text: 'Description', sortable: false, value: 'description' },
                { text: 'Last Action', sortable: false, value: 'lastAct' },
                { text: 'Action by', sortable: false, value: 'actionBy' }
            ],
            passengers: [
                {
                    value: false,
                    number: 1,
                    action: 'Payment',
                    description: 'Lorem ipsum dolor sit amet Consectetur',
                    lastAct: '1 hour ago',
                    actionBy: 'Admin Q'
                },
                {
                    value: false,
                    number: 2,
                    action: 'Re-submit Claim',
                    description: 'Lorem ipsum dolor sit amet Consectetur',
                    lastAct: '12 Jan 2018, 12:02:29',
                    actionBy: 'Admin Q'
                },
                {
                    value: false,
                    number: 3,
                    action: 'Rejected',
                    description: 'Lorem ipsum dolor sit amet Consectetur',
                    lastAct: '11 Jan 2018, 20:41:31',
                    actionBy: 'Admin Q'
                },
                {
                    value: false,
                    number: 4,
                    action: 'Claim Delay',
                    description: 'Lorem ipsum dolor sit amet Consectetur',
                    lastAct: '11 Jan 2018, 11:02:29',
                    actionBy: 'Admin Q'
                }
            ],
            benefits: [
                {
                    name: 'Flight Delay',
                    shortDesc: 'Starting from 2 hours',
                    description: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Pellentesque pretium mauris lectus, ac mattis eros pulvinar a. Donec ac metus sed `
                },
                {
                    name: 'Luggage Delay',
                    shortDesc: 'Starting from 2 hours',
                    description: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Pellentesque pretium mauris lectus, ac mattis eros pulvinar a. Donec ac metus sed `
                },
                {
                    name: 'Missed Flight Delay',
                    shortDesc: 'up to Rp 3.000.000',
                    description: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Pellentesque pretium mauris lectus, ac mattis eros pulvinar a. Donec ac metus sed `
                },
                {
                    name: 'Cancellation',
                    shortDesc: 'up to Rp 3.000.000',
                    description: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Pellentesque pretium mauris lectus, ac mattis eros pulvinar a. Donec ac metus sed `
                },
                {
                    name: 'Personal Accident',
                    shortDesc: 'up to Rp 3.000.000',
                    description: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Pellentesque pretium mauris lectus, ac mattis eros pulvinar a. Donec ac metus sed `
                }
            ]
        };
    },

    created() {
        this.number = this.$route.params.claimNumber;
    },
    methods: {

    }
};
</script>

<style lang="scss" scoped>

.text-center {
  text-align: center;
}
.detailClaim_title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.27;
  color: #4d4f5c;
  margin-top: 38px;
  margin-bottom: 27px;
  cursor: pointer;
  .container {
    padding: 0px;
  }
}
.detailClaim_content {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 19px 38px;
}
.detailClaim_content_label {
  font-size: 14px;
  line-height: 2;
  color: #9597a6;
}
.detailClaim_content_number {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  color: #545871;
}
.detailClaim_content_number--small {
  font-size: 14px;
  line-height: 2;
  color: #545871;
}
.detailClaim_content_coverage {
  font-size: 16px;
  line-height: 1.63;
  color: #ff6300;
  margin-bottom: 17px;
}
.detailClaim_content_tableInfo {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  border-radius: 5px;
  width: 100%;
}
.detailClaim_content_tableInfo_row {
  display: table-row;
}
.detailClaim_content_tableInfo_cell {
  display: table-cell;
  width: 100%;
  text-align: center;
  border: 1px solid #f0f1f7;
  padding-top: 9px;
  padding-bottom: 11px;
  .col_title {
    font-size: 12px;
    font-weight: bold;
    line-height: 2.33;
    color: #9597a6;
  }
  .col_content {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.78;
    color: #1955b9;
  }
}
.detailClaim_content_document {
  float: left;
  width: 460px;
  margin-right: 17px;
  padding: 14px 25px 17px 19px;
  border-radius: 5px;
  background-color: #f9fcff;
}
.detailClaim_content_document_title {
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  margin-bottom: 14px;
  color: #9597a6;
}
.detailClaim_content_document_list {
  padding: 5px 8px !important;
  margin-bottom: 14px;
  background: white;
}
.detailClaim_content_document_list_heading {
  font-size: 10px;
  line-height: 0.4;
  color: #4d4f5c;
  margin-bottom: 6px;
}
.detailClaim_content_history {
  float: left;
  width: 730px;
  margin-right: 37px;
}
.detailClaim_content_history_title {
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  color: #9b9dab;
}
.detailClaim_content_history_benefit {
  font-size: 14px;
  padding: 3px 16px;
  min-width: 88px;
  float: left;
  border-radius: 999px;
  margin-right: 14px;
  height: 32px;
  text-align: center;
  background-color: #f0f1f7;
}
.detailClaim_content_history_benefit--active {
  background-color: #ff6300;
}
.detailClaim_content_history_benefit_text {
  font-size: 14px;
  line-height: 1.86;
  color: #9597a6;
}
.detailClaim_content_history_benefit_text--active {
  color: #fff;
}
.detailClaim_content_history_table {
  .passengerHeader {
    background-color: #f9fcff !important;
  }
}
.detailClaim_content_benefit {
  float: left;
  width: 460px;
}
.detailClaim_content_benefit_title {
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  color: #9b9dab;
}
.detailClaim_content_benefit_card {
  padding: 15px 24px 11px 70px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}
.detailClaim_content_benefit_card_title {
  float: left;
  font-size: 14px;
  line-height: 0.93;
  color: #4d4f5c;
  margin-bottom: 9px;
}
.detailClaim_content_benefit_card_shortDesc {
  float: right;
  font-size: 12px;
  line-height: 1.08;
  color: #255ebc;
}
.detailClaim_content_benefit_card_description {
  opacity: 0.5;
  font-size: 13px;
  line-height: 1.54;
  color: #43425d;
}
.clearfix {
  clear:both
}

a:hover {
    text-decoration: none !important;
}
</style>
