<template>
  <v-dialog
    v-model="dialog"
    :persistent="processing"
    max-width="350px"
    @keydown.esc="!processing ? dialog = false : ''"
    @keydown.enter="!processing ? yes : ''"
  >
    <v-card>
      <template v-if="!processing">
        <v-card-title class="title grey lighten-2">
          {{ title }}
        </v-card-title>
        <v-card-text v-html="content" />
        <p
          v-if="error"
          class="error p-4 white--text text-xs-center body-2 pa-3"
        >
          {{ error }}
          <br>
          <br>
          try again?
        </p>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="green darken-1"
            flat
            @click="dialog = false"
          >
            No
          </v-btn>
          <v-btn
            color="green darken-1"
            flat
            @click="yes"
          >
            Yes
          </v-btn>
        </v-card-actions>
      </template>
      <template v-else>
        <v-card-text>
          <v-progress-linear
            indeterminate
            color="amber"
            class="mb-0"
          />
        </v-card-text>
      </template>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
    name: 'CustomConfirm',

    data() {
        return {
            dialog: false,
            processing: false,
            title: 'Confirmation',
            content: '',
            error: '',
            confirmAction: this.reset
        };
    },

    methods: {
        reset() {
            this.dialog = false;
            this.processing = false;
            this.title = 'Confirmation';
            this.content = '';
            this.error = '';
            this.confirmAction = this.reset;
        },

        set(payload = {}, reset) {
            if (reset) this.reset();
            this.title = payload.title || this.title;
            this.content = payload.content || this.content;
            this.error = payload.error || this.error;
            this.confirmAction = payload.action || this.confirmAction;
            this.open();
        },

        open() {
            this.dialog = true;
        },

        close() {
            this.dialog = false;
        },

        wait(state) {
            this.processing = !!state;
        },

        ok(func) {
            this.confirmAction = func;
        },

        loading(state) {
            this.reset();
            if (state) this.open();
            else this.close();
            this.wait(!!state);
        },

        fail(message, reset) {
            if (reset) this.reset();
            this.wait(false);
            this.open();
            this.error = message;
        },

        success(message) {
            this.close();
            setTimeout(() => {
                this.wait(false);
                this.$store.dispatch('toggleSnackBar', {
                    message, color: 'success'
                });
            }, 500);
        },

        yes() {
            this.confirmAction();
            this.wait(true);
        }
    }
};
</script>

<style>
</style>
