<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    offset-y
    left
    full-width
  >
    <v-btn
      slot="activator"
      :flat="icon"
      :icon="icon"
      :color="icon ? 'black' : 'white grey--text text--darken-1'"
      class="elevation-0 button-on-toolbar"
    >
      <template v-if="icon">
        <v-icon small>
          calendar_today
        </v-icon>
      </template>
      <template v-else>
        {{ date[0] | dateFilterShort }} &mdash; {{ date[1] | dateFilterShort }}
      </template>
    </v-btn>
    <v-card>
      <v-card-text>
        <v-daterange
          :options="option"
          @input="onDateRangeChange"
        />
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <v-btn
          flat
          outline
          color="black"
          @click="$emit('apply-filter', date); menu = false;"
        >
          Apply
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-menu>
</template>

<script>
export default {
    name: 'CustomDateRange',

    props: {
        range: {
            type: Array,
            default: () => ([
                this.$moment().format('YYYY-MM-DD'),
                this.$moment().format('YYYY-MM-DD')
            ])
        },
        icon: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            option: {
                startDate: this.range[0],
                endDate: this.range[1],
                maxDate: this.$moment().add(3, 'month')
                    .format('YYYY-MM-DD'),
                format: 'MM/DD/YYYY',
                presets: [
                    {
                        label: 'Today',
                        range: [
                            this.$moment().format('YYYY-MM-DD'),
                            this.$moment().format('YYYY-MM-DD')
                        ]
                    },
                    {
                        label: 'Yesterday',
                        range: [
                            this.$moment().subtract(1, 'day')
                                .format('YYYY-MM-DD'),
                            this.$moment().subtract(1, 'day')
                                .format('YYYY-MM-DD')
                        ]
                    },
                    {
                        label: 'Last 30 Days',
                        range: [
                            this.$moment().subtract(30, 'day')
                                .format('YYYY-MM-DD'),
                            this.$moment().format('YYYY-MM-DD')
                        ]
                    },
                    {
                        label: 'This Month',
                        range: [
                            this.$moment().startOf('month')
                                .format('YYYY-MM-DD'),
                            this.$moment().format('YYYY-MM-DD')
                        ]
                    },
                    {
                        label: 'Last Month',
                        range: [
                            this.$moment().subtract(1, 'month')
                                .startOf('month')
                                .format('YYYY-MM-DD'),
                            this.$moment().subtract(1, 'month')
                                .endOf('month')
                                .format('YYYY-MM-DD')
                        ]
                    },
                    {
                        label: 'All Time',
                        range: [
                            this.$moment().set({ year: 2018, month: 0, date: 1 })
                                .format('YYYY-MM-DD'),
                            this.$moment().format('YYYY-MM-DD')
                        ]
                    }
                ]
            },
            menu: true,
            date: this.range
        };
    },

    methods: {
        onDateRangeChange(range) {
            this.date = range;
        }
    }
};
</script>

<style>
.v-menu__content {
    z-index: 10 !important;
}
</style>
