<template>
  <div
    v-show="loading"
    class="overlay"
  >
    <v-progress-circular
      :color="myColor"
      indeterminate
      class="centered"
    />
  </div>
</template>

<script>
export default {
    name: 'CustomOverlay',

    props: {
        color: {
            type: String,
            default: 'primary'
        }
    },

    data() {
        return {
            myColor: this.color,
            loading: false
        };
    }
};
</script>

<style lang="scss" scoped>
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    z-index: 20;

    .centered {
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}
</style>
