<template>
  <v-text-field
    v-model="localSearch"
    flat
    append-icon="search"
    label="Search"
    solo
    class="search-on-toolbar"
    clearable
    @keyup.enter="onSearch"
    @click:clear="onSearchClear"
  />
</template>

<script>
export default {
    props: {
        search: {
            type: String,
            default: ''
        },
        fetchData: {
            type: Function,
            default() {}
        }
    },

    data() {
        return {
            localSearch: this.search
        };
    },

    methods: {
        onSearch() {
            this.localSearch = this.$_.trim(this.localSearch);
            this.$emit('update:search', this.localSearch);
            this.fetchData();
        },

        onSearchClear() {
            this.localSearch = '';
            this.onSearch();
        }
    }
};
</script>

<style>

</style>
