<template>
  <v-snackbar
    v-model="snack"
    :color="color"
    multi-line
    bottom
  >
    {{ message }}
    <v-btn
      flat
      @click.native="snack=!1"
    >
      close
    </v-btn>
  </v-snackbar>
</template>

<script>
export default {
    name: 'CustomSnack',

    data() {
        return {
            snack: false,
            color: 'black',
            message: ''
        };
    },

    created() {
        this.$store.watch(state => state.app.snackbar, () => {
            const msg = this.$store.state.app.snackbar;
            if (msg) {
                this.snack = true;
                this.message = this.$store.state.app.snackbar.message || msg;
                this.color = this.$store.state.app.snackbar.color || 'black';
                this.$store.commit('TOGGLE_APP_SNACKBAR', '');
            }
        });
    }
};
</script>
