<template>
  <v-list dense>
    <v-list-tile
      ripple
      @click="toggleAllOption"
    >
      <v-list-tile-action>
        <v-icon :color="selected.length > 0 ? 'green darken-4' : ''">
          {{
            isAllToggled ? 'check_box'
            : isSomeToggled ? 'indeterminate_check_box'
              : 'check_box_outline_blank'
          }}
        </v-icon>
      </v-list-tile-action>
      <v-list-tile-title>Select All</v-list-tile-title>
    </v-list-tile>
    <v-list-tile
      v-for="(item, i) in items"
      :key="i"
      :value="item.value"
      ripple
      active-class=""
      @click="toggleOption(item.value)"
    >
      <v-list-tile-action>
        <v-icon :color="isOptionToggled(item.value) ? 'green': ''">
          {{ isOptionToggled(item.value) ? 'check_box' : 'check_box_outline_blank' }}
        </v-icon>
      </v-list-tile-action>
      <v-list-tile-title>{{ item.text }}</v-list-tile-title>
    </v-list-tile>
  </v-list>
</template>

<script>
export default {
    props: {
        items: {
            type: [Array],
            default: () => ([])
        },
        selected: {
            type: [Array],
            default: () => ([])
        }
    },

    computed: {
        isAllToggled() {
            return this.items.length === this.selected.length;
        },
        isSomeToggled() {
            return this.selected.length > 0 && !this.isAllToggled;
        }
    },

    methods: {
        toggleAllOption() {
            if (this.isAllToggled) {
                this.selected.splice(0, this.selected.length);
            } else {
                this.selected.splice(0, this.selected.length, ...this.items.map(v => v.value));
            }
        },
        toggleOption(value) {
            const index = this.selected.indexOf(value);
            if (index < 0) {
                this.selected.push(value);
            } else {
                this.selected.splice(index, 1);
            }
        },
        isOptionToggled(value) {
            return this.selected.indexOf(value) > -1;
        }
    }
};
</script>

<style>

</style>
