<template>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider"></span>
    </label>
</template>

<script>
export default {
    
}
</script>

<style lang="scss" scoped>
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 20px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  &:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 0px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
  }
}

input {
  &:checked + .slider {
    &:before {
        background-color: $primary;
    }
  }
  &:focus + .slider {
    box-shadow: 0 0 1px #eee;
  }
  &:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}
</style>
