<template>
  <div class="v-input v-upload">
    <div class="v-input__control">
      <input
        :id="id"
        :name="name"
        :accept="accept"
        multiple="false"
        type="file"
        @change="fileChanged"
      >

      <label
        v-ripple="true"
        :for="id"
        :class="`v-btn ${classes}${color}`"
      >
        <slot name="icon-left" />
        {{ icon ? '' : title }}
        <slot name="icon" />
      </label>

      <div
        v-if="fileName"
        class="file-name"
      >
        {{ fileName }}
      </div>

      <div
        v-if="errorMessage"
        class="v-upload__details"
      >
        <div class="v-messages theme--light error--text">
          <div class="v-messages__wrapper">
            <div class="v-messages__message">
              {{ errorMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
    name: 'CustomUpload',

    props: {
        accept: {
            default: '*',
            type: String
        },
        color: {
            default: 'primary',
            type: String
        },
        disabled: {
            default: false,
            type: Boolean
        },
        errorMessage: {
            default: '',
            type: String
        },
        fileChangedCallback: {
            default: undefined,
            type: Function
        },
        icon: {
            default: false,
            type: Boolean
        },
        loading: {
            default: false,
            type: Boolean
        },
        name: {
            default: 'uploadFile',
            type: String
        },
        title: {
            default: 'Upload',
            type: String
        },
        uniqueId: {
            default: false,
            type: Boolean
        }
    },

    data() {
        return {
            fileName: ''
        };
    },

    computed: {
        id() {
            return this.uniqueId ? `${this._uid}uploadFile` : 'uploadFile';
        },

        classes() {
            const classes = {
                'v-btn--loading': this.loading,
                'v-btn--disabled': this.disabled
            };

            let classString = '';
            for (const key in classes) {
                if (classes[key]) {
                    classString += `${key} `;
                }
            }
            return classString;
        }
    },

    methods: {
        fileChanged(e) {
            if (e) {
                if (this.fileChangedCallback) {
                    if (e.target.files) {
                        if (!this.multiple && e.target.files[0]) {
                            // this.fileName = e.target.files[0].name;
                            this.fileChangedCallback(e.target.files[0]);
                        } else {
                            this.fileChangedCallback(null);
                        }
                    } else {
                        this.fileChangedCallback(null);
                    }
                }
            }
        }
    }
};
</script>

<style lang="scss" scoped>
.v-upload {
    display: inline-block;
    .v-input__control {
        display: inline-block;

        input[type="file"] {
            position: absolute;
            height: 0.1px;
            width: 0.1px;
            overflow: hidden;
            opacity: 0;
            z-index: -1;
        }
        label {
            margin: 0;
            cursor: pointer;
        }
    }

    .v-upload__details {
        margin: 12px;
        cursor: text;
    }
}
</style>
