<template>
  <div class="sidebar">
    <div class="item item-logo">
      <img
        src="~/assets/images/logo-small.png"
        height="25"
        alt="Qoala Insurance"
      >
    </div>
    <nuxt-link
      v-for='(item, key) in menu' 
      class="item item-menu" 
      :key='key'
      :to='item.link'
    >
      <v-icon class="white--text">
        {{ item.icon }}
      </v-icon>
      <span>{{item.name}}</span>
    </nuxt-link>
  </div>
</template>

<script>

export default {
    name: 'AppSidebar',

    props: {
        menu: {
            type: Array,
            default: () => []
        }
    },

    data() {
        return {
            mini: true,
            menus: this.menu,
            scrollSettings: {
                maxScrollbarLength: 160
            }
        };
    }
};
</script>


<style lang="scss" <style lang="scss" scoped>
  .sidebar {
    height: 100%;
    width: 75px;
    position: fixed;
    background-image: $gradient;
    z-index: 5;
    .item {
      height: 75px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-direction: column;
      cursor: pointer;
      color: $third;
      span {
        font-size: 10px;
        line-height: 1.1;
        margin-top: 5px;
      }
      &.item-logo {
        background-color: $secondary;
      }
      &.item-menu {
        background-color: transparent;
        transition: ease all .3s;
        margin-bottom: 2px;
        text-decoration: none;
        &:after {
          content: '';
          position: absolute;
          bottom: 0%;
          height: 1px;
          width: 85%;
          background-color: $third;
        }
        &:hover, :active {
          background-color: $primary;
          &:after {
            height: 1.5px;
          }
        }
      }
    }
  }
</style>
