<template>
  <v-toolbar
    height="75"
    full-width
    sheet_to_formulae
    class="app-toolbar white"
    app
    style="padding-left: 75px !important;"
  >
    <!-- <v-toolbar-side-icon @click.stop="handleDrawerToggle" /> -->
    <!-- <v-spacer /> -->
    <v-form>
      <v-text-field
        v-model="searchKey"
        height="75"
        solo
        flat
        hide-details
        single-line
        append-icon="search"
        label="Search Anything Here..."
        class="form__search"
      />
    </v-form>

    <!-- <v-btn
      icon
      @click="handleFullScreen()"
    >
      <v-icon>fullscreen</v-icon>
    </v-btn> -->

    <!-- notification -->
    <v-menu
      v-show="false"
      :nudge-bottom="14"
      attach
      left
      full-width
      offset-y
      class="userMenu"
    >
      <v-btn
        slot="activator"
        icon
        flat
      >
        <v-badge
          color="red"
          overlap
        >
          <span slot="badge">
            3
          </span>
          <v-icon medium>
            notifications
          </v-icon>
        </v-badge>
      </v-btn>
      <notification-list />
    </v-menu>

    <!-- profile -->
    <v-avatar
      size="50px"
      style="margin-right: 24px;"
    >
      <img
        src="~/assets/images/default-avatar.jpg"
        alt="CMS Admin"
      >
    </v-avatar>
    <p class="userProfile">
      <span class="userProfile_name">
        Mimomooo
      </span>
      <br>
      <span class="userProfile_role">
        Big Admin
      </span>
    </p>
    <v-menu
      :nudge-bottom="10"
      attach
      left
      full-width
      offset-y
      class="userMenuButton"
    >
      <v-btn
        slot="activator"
        icon
        large
        flat
      >
        <!-- <v-avatar size="50px">
          <img
            src="~/assets/images/default-avatar.jpg"
            alt="CMS Admin"
          >
        </v-avatar> -->
        <v-icon
          color="#bfbfbf"
          large
        >
          more_vert
        </v-icon>
      </v-btn>
      <v-card class="elevation-0">
        <v-list
          two-line
          dense
          dark
          subheader
        >
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>Donald Trump</v-list-tile-title>
              <v-list-tile-sub-title>potus@us.gov</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-divider />
        <v-list>
          <v-list-tile
            v-for="(item, index) in items"
            :key="index"
            :to="!item.href ? { name: item.name } : null"
            :href="item.href"
            :disabled="item.disabled"
            :target="item.target"
            ripple="ripple"
            rel="noopener"
            @click="item.click"
          >
            <v-list-tile-action v-if="item.icon">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card>
    </v-menu>
  </v-toolbar>
</template>

<script>
import NotificationList from '@/components/NotificationList';

export default {
    name: 'AppToolbar',

    components: {
        NotificationList
    },

    data() {
        return {
            searchKey: '',
            items: [
                {
                    icon: 'account_circle',
                    href: '#',
                    title: 'User Profile',
                    click: () => {
                    }
                },
                {
                    icon: 'settings',
                    href: '#',
                    title: 'Settings',
                    click: () => {
                    }
                },
                {
                    icon: 'power_settings_new',
                    href: '#',
                    title: 'Log Out',
                    click: () => {
                        this.$store.dispatch('authDestroy');
                    }
                }
            ]
        };
    },

    methods: {
        handleDrawerToggle() {
            this.$store.dispatch('toggleDrawer');
        },

        handleFullScreen() {
            const doc = window.document;
            const docEl = doc.documentElement;

            const requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen
              || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            const cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen
              || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement
              && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            } else {
                cancelFullScreen.call(doc);
            }
        }
    }
};
</script>
<style lang="scss">
.v-toolbar {
  box-shadow: none;
  border-bottom: 1.4px solid #f1f1f1;
}
.v-form {
  width: 75%;
  margin-right: 28px;
}
.form__search {
  font-size: 26px;
  border-right: 1.4px solid #f1f1f1;
  .v-icon {
    font-size: inherit;
    cursor: pointer;
  }
  .v-label {
    font-size: inherit;
    height: 100%;
    color: #c8c8c8;
  }
}
.userMenu {
  padding-left: 28px;
}
.userMenuButton {
  position: absolute;
  right: 36px;
}
.userProfile {
  margin: 0px;
}
.userProfile_name {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  color: #1955b9;
}
.userProfile_role {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.7px;
  color: #bfbfbf;
}
</style>
