<template>
    <div 
        v-if="!detail"
        class="content-wrapper">
        <v-container grid-list-md>
            <v-layout row wrap>
                <slot />
            </v-layout>
        </v-container>
    </div>
    <div v-else
        class="detail-wrapper">
        <slot />
    </div>
</template>

<script>
export default {
    props: {
        detail: {
            type: Boolean,
            default: false
        }
    }
}
</script>

<style lang="scss" scoped>
.detail-wrapper {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 19px 38px;
}
</style>


