<template>
  <div class="wrapper-board">
    <div class="item-board">
      <div class="board-name">
        Pegipegi
      </div>
      <div class="board-total">
        150.000
      </div>
      <div class="board-mini">
        <span class="red-icon">
          d
        </span>
        1020
      </div>
      <div class="board-mini">
        <span class="blue-icon">
          f
        </span>
        1020
      </div>
    </div>
    <button class="add-agent">
        <v-icon>
            add
        </v-icon>
        <span>
            add agent
        </span>
    </button>
  </div>
</template>

<script>
export default {
};
</script>

<style lang="scss" scoped>

</style>
