<template>
  <div class="detailPolicy">
    <div
      class="detailPolicy_title"
      @click="$router.go(-1)"
    >
      <v-container fill-height>
        <v-icon color="#ff6300">
          chevron_left
        </v-icon>
        <v-layout align-center>
          Details {{ number }}
        </v-layout>
      </v-container>
    </div>
    <content-wrapper detail>
      <div class="detailPolicy_content_label">
        Policy No.
      </div>
      <div class="detailPolicy_content_number">
        {{ number }}
      </div>
      <div class="detailPolicy_content_coverage">
        Full Flight Coverage
      </div>

      <detail-board 
        :details="detailBoard"
      />
      <v-layout row wrap>
        <v-flex xs2>
          <div class="detailPolicy_content_document">
            <div class="detailPolicy_content_document_title">
              Required Documents
            </div>
            <div class="detailPolicy_content_document_list">
              <ol>
                <li>
                  KTP
                </li>
                <li>
                  KTP Selfie
                </li>
                <li>
                  Boarding Pass
                </li>
              </ol>
            </div>
          </div>
        </v-flex>
        
        <v-flex xs5>
          <div class="detailPolicy_content_passenger">
            <div class="detailPolicy_content_passenger_title">
              Covered Member
            </div>
            <Table
              :Header="passengerHeaders"
              :Row="passengers"
              Action
              class="detailPolicy_content_passenger_table"
            />
          </div>
        </v-flex>
        
        <v-flex xs5>
          <div class="detailPolicy_content_passenger">
            <div class="detailPolicy_content_passenger_title">
              Policy Benefits
            </div>
            <card-benefit 
              v-for="(item, n) in benefits"
              :key="n"
              :name="item.name"
              :price="item.shortDesc"
              :description="item.description"
            />
          </div>
        </v-flex>
      </v-layout>
    </content-wrapper>
  </div>
</template>

<script>
import ContentWrapper from '@/components/General/ContentWrapper'

import DetailBoard from '@/components/Board/DetailBoard'
import Table from '@/components/Table/Table'
import CardBenefit from '@/components/Card/CardBenefit'

export default {
    name: 'PolicyDetailPage',

    components: {
        ContentWrapper,
        Table,
        DetailBoard,
        CardBenefit
    },

    data() {
        return {
            number: '',
            passengerHeaders: [
                { text: '#', sortable: false, value: 'number' },
                { text: 'Name', sortable: false, value: 'name' },
                { text: 'Email', sortable: false, value: 'email' },
                { text: 'Phone No.', sortable: false, value: 'phone' }
            ],
            passengers: [
                {
                    number: 1,
                    name: 'Martin Hong',
                    email: 'martin.hong@qoala.id',
                    phone: '081288177719'
                },
                {
                    number: 2,
                    name: 'Feleri Setiawan',
                    email: 'feleri@qoala.id',
                    phone: '089639911153'
                },
                {
                    number: 3,
                    name: 'Johannes',
                    email: 'N/A',
                    phone: '08161122749'
                }
            ],
            benefits: [
                {
                    name: 'In-Patient',
                    shortDesc: 'up to Rp 70.000.000',
                    description: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Pellentesque pretium mauris lectus, ac mattis eros pulvinar a. Donec ac metus sed `
                },
                {
                    name: 'Out-Patient',
                    shortDesc: 'up to Rp 10.000.000',
                    description: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Pellentesque pretium mauris lectus, ac mattis eros pulvinar a. Donec ac metus sed `
                },
                {
                    name: 'Dental',
                    shortDesc: 'up to Rp 3.000.000',
                    description: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Pellentesque pretium mauris lectus, ac mattis eros pulvinar a. Donec ac metus sed `
                }
            ],
            detailBoard: [
              {
                title: 'Employee No.',
                data: '123-1234567'
              },
              {
                title: 'Policy Purchased',
                data: '10 Jan 2019'
              },
              {
                title: 'No. Claim',
                data: '4'
              },
              {
                title: 'Division',
                data: 'Engineer'
              },
            ]
        };
    },

    created() {
        this.number = this.$route.params.policyNumber;
    },
    methods: {

    }
};
</script>

<style lang="scss" scoped>
.detailPolicy_content_document, .detailPolicy_content_passenger {
  padding: 0 10px;
}
.detailPolicy_title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.27;
  color: #4d4f5c;
  margin-top: 38px;
  margin-bottom: 27px;
  cursor: pointer;
  .container {
    padding: 0px;
  }
}
.detailPolicy_content_label {
  font-size: 14px;
  line-height: 2;
  color: #9597a6;
}
.detailPolicy_content_number {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  color: #545871;
}
.detailPolicy_content_coverage {
  font-size: 16px;
  line-height: 1.63;
  color: #ff6300;
  margin-bottom: 17px;
}
.detailPolicy_content_document {
  padding-top: 14px;
  padding-left: 19px;
  padding-bottom: 31px;
  background-color: #f9fcff;
}
.detailPolicy_content_document_title {
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  color: #9597a6;
}
.detailPolicy_content_document_list {
  font-size: 13px;
  line-height: 2.15;
  ol {
    padding-left: 14px;
  }
}
.detailPolicy_content_passenger_title {
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  color: #9b9dab;
}
</style>
